[submodule "bifrost"]
	path = bifrost
	url = git@github.com:clhuang/bifrost.git
[submodule "Renderer"]
	path = Renderer
	url = git@github.com:clhuang/br_renderer.git
[submodule "spectAnlys"]
	path = spectAnlys
	url = ../spectAnlys/
